<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Inventory App</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/index.js"></script>
		<script src="/assets/js/create-item.js"></script>
		<link rel="stylesheet" href="/assets/css/style.css"> 
        <script src="/assets/js/view-item.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>