<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Inventory App</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/index.js"></script>
		<script src="/assets/js/create-item.js"></script>
		<link rel="stylesheet" href="/assets/css/style.css"> 
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
		<script src="https://kit.fontawesome.com/6c46318992.js" crossorigin="anonymous"></script>
		<script src="/assets/js/view-item.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>