<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 id="header"> create an item </h1>
    <div>
        <h3>item name:</h3>
        <input type="text" placeholder="i.e. milk">
    </div>
    <div>
        <h3>quantity:</h3>
        <input type="text" placeholder="# of items">
    </div>
    <div>
        <h3>expiration:</h3>
        <input type="text" placeholder="**/**/**">
    </div>
    <div>
        <h3>description:</h3>
        <textarea placeholder="are there any special instructions?"></textarea>
    </div>
    <div>
       <label for="storage">Choose a storage:</label>
        <select name="storage" id="storageDropdown">
            <option value="fridge">fridge</option>
            <option value="freezer">freezer</option><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 id="header"> create an item </h1>
    <div>
        <h3>item name:</h3>
        <input type="text" placeholder="i.e. milk">
    </div>
    <div>
        <h3>quantity:</h3>
        <input type="text" placeholder="# of items">
    </div>
    <div>
        <h3>expiration:</h3>
        <input type="text" placeholder="**/**/**">
    </div>
    <div>
        <h3>description:</h3>
        <textarea placeholder="are there any special instructions?"></textarea>
    </div>
    <div>
       <label for="storage">Choose a storage:</label>
        <select name="storage" id="storageDropdown">
            <option value="fridge">fridge</option>
            <option value="freezer">freezer</option>
            <option value="pantry">pantry</option>
        </select>
    </div>
</body>
</html>
            <option value="pantry">pantry</option>
        </select>
    </div>
</body>
</html>