<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery.js"></script>
    <title>Document</title>
</head>
    <body>
        <div>
        <a href="/"><button>go to home</button></a>
        <a href="/view-fridge"><button>fridge</button></a>
        <a href="/view-freezer"><button>freezer</button></a>
        <a href="/view-pantry"><button>pantry</button></a>
    </div>
        <h1 id="header"> create an item </h1>
        <form id="item-form">
            <div>
                <h3>item name:</h3>
                <input type="text" placeholder="i.e. milk" id="name-input">
            </div>
            <div>
                <h3>quantity:</h3>
                <input type="text" placeholder="# of items" id="quantity-input">
            </div>
            <div>
                <h3>expiration:</h3>
                <input type="text" placeholder="**/**/****" id="expiration-input">
            </div>
            <div>
                <h3>description:</h3>
                <textarea placeholder="are there any special instructions?" id="description-input"></textarea>
            </div>
            <div>
            <label for="storage">Choose a storage:</label>
                <select name="storage" id="storageDropdown">
                    <option value="refrigerator">refrigerator</option>
                    <option value="freezer">freezer</option>
                    <option value="pantry">pantry</option>
                </select>
            </div>
            <div>
                <a href="/"><button id='submit'>Submit</button></a>
            </div>
        </form>
    </body>
</html>