<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Document</title>
    <style>
        body {
            background-image: url("https://media.istockphoto.com/photos/white-glossy-countertop-and-on-blur-kitchen-room-background-picture-id1030140478?k=6&m=1030140478&s=170667a&w=0&h=zyQZvdOA_Zf2Ws3hu8icybmXBRPOjp99iZ2bEtNq4nk=");
            background-repeat: no-repeat;
            background-size: cover;
        }

        #item-form {
            margin-left: 35%;
            border: black 4px solid;
            background-color: beige;
            width: fit-content;
            height: 40%;
            margin-bottom: 40px;
            border-radius: 10px;

        }

        img {
            border: 2px solid brown;
        }

        h1 {
            font-style: italic;
            color: maroon;
            background-color: beige;
            width: fit-content;
            margin-left: 33%;
            border: black solid 4px;
            padding: 10px;
            border-radius: 10px;
            font-size: 60px;
        }

        .btn {
            margin: 6px;
        }

        h3 {
            padding-left: 10px;
            padding-top: 10px;
        }

        input {
            margin: 8px;
            border: black solid 2px;
            background-color: whitesmoke;
        }

        textarea {
            margin: 8px;
            background-color: whitesmoke;
            border: black solid 2px;
        }

        #storageDropdown {
            margin: 8px;
            background-color: whitesmoke;
            border: black solid 2px;
        }

        #submit {
            border: black solid 3px;
            margin: 10px;
            margin-left: 40%;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <a href="/">
            <button id="returnBtn" class='btn btn-success shadow' style='border: black solid 3px;'>
                <i class="fas fa-home fa-4x"></i>
            </button>
        </a>
        <a href="/view-pantry">
            <button class='btn btn-success shadow' style='border: black solid 3px;'>
                <i class="fa-2x">Pantry</i>
            </button>
        </a>
        <a href="/view-fridge">
            <button class='btn btn-success shadow' style='border: black solid 3px;'>
                <i class="fa-2x">Fridge</i>
            </button>
        </a>
        <a href="/view-freezer">
            <button class='btn btn-success shadow' style='border: black solid 3px;'>
                <i class="fa-2x">Freezer</i>
            </button>
        </a>
    </div>
    <h1 id="header"> CREATE AN ITEM </h1>
    <form id="item-form">
        <div>
            <h3>Item Name:</h3>
            <input type="text" placeholder="i.e. milk" id="name-input">
        </div>
        <div class="foto">
            <h3>Image:</h3>
            <img src="https://picsum.photos/300/300" id="img-preview" />
            <label class="file-upload-container" for="file-upload">
                <input id="file-upload" type="file" style="display:none;">
                Select image
            </label>
        </div>
        <div>
            <h3>Quantity:</h3>
            <input type="text" placeholder="# of items" id="quantity-input">
        </div>
        <div>
            <h3>Expiration:</h3>
            <input type="text" placeholder="mm/dd/yyyy" id="expiration-input">
        </div>
        <div>
            <h3>Description:</h3>
            <textarea placeholder="any additional details?" id="description-input"></textarea>
        </div>

        <div>
            {{!-- <label for="storage">Choose a storage:</label> --}}
            <h3>Choose a storage:</h3>
            <select name="storage" id="storageDropdown">
                <option value="refrigerator">refrigerator</option>
                <option value="freezer">freezer</option>
                <option value="pantry">pantry</option>
            </select>
        </div>

        <div>
            <a href="/"><button id='submit' class="btn btn-success">Submit</button></a>
        </div>
    </form>
</body>

</html>