<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Document</title>
    <style>
        body {
            background-image: url("https://media.istockphoto.com/photos/white-glossy-countertop-and-on-blur-kitchen-room-background-picture-id1030140478?k=6&m=1030140478&s=170667a&w=0&h=zyQZvdOA_Zf2Ws3hu8icybmXBRPOjp99iZ2bEtNq4nk=");
            background-repeat: no-repeat;
            background-size: cover;
        }
        #item-form {
            margin-left: 35%;
            border: black 2px solid;
            background-color: beige;
            width: fit-content;
            height: 40%;
            margin-bottom: 40px;
        }
        img {
            border: 2px solid brown;
        }
        h1 {
            color: maroon;
            background-color: beige;
            width: fit-content;
            margin-left: 42%;
            border: black solid 2px;
            padding: 6px;
        }
        .btn {
            margin: 6px;
        }
        ;
    </style>
</head>
<body>
    <div>
        <a href="/"><button class="btn btn-dark" id="returnBtn">back to home</button></a>
        <a href="/view-fridge"><button id="fdBtn" class="btn btn-info">fridge</button></a>
        <a href="/view-freezer"><button id="fzBtn" class="btn btn-secondary">freezer</button></a>
        <a href="/view-pantry"><button id="panBtn" class="btn btn-warning">pantry</button></a>
    </div>
    <h1 id="header"> create an item </h1>
    <form id="item-form">
        <div>
            <h3>item name:</h3>
            <input type="text" placeholder="i.e. milk" id="name-input">
        </div>
        <div class="foto">
            <h3>image:</h3>
            <img src="https://picsum.photos/300/300" id="img-preview" />
            <label class="file-upload-container" for="file-upload">
                <input id="file-upload" type="file" style="display:none;">
                Select image
            </label>
        </div>
        <div>
            <h3>quantity:</h3>
            <input type="text" placeholder="# of items" id="quantity-input">
        </div>
        <div>
            <h3>expiration:</h3>
            <input type="text" placeholder="**/**/****" id="expiration-input">
        </div>
        <div>
            <h3>description:</h3>
            <textarea placeholder="are there any special instructions?" id="description-input"></textarea>
        </div>
        dropdown 
        <div>
            <label for="storage">Choose a storage:</label>
            <select name="storage" id="storageDropdown">
                <option value="refrigerator">refrigerator</option>
                <option value="freezer">freezer</option>
                <option value="pantry">pantry</option>
            </select>
        </div>
        {{!-- <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                select a storage
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <option value="refrigerator">refrigerator</option>
                <option value="freezer">freezer</option>
                <option value="pantry">pantry</option>
            </div>
        </div> --}}
        <div>
            <a href="/"><button id='submit' class="btn btn-success">Submit</button></a>
        </div>
    </form>
</body>
</html>