<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food App</title>
</head>
<body>
   <header>
       <h1> Food Inventory</h1>
       <p>Description</p>
   </header>
   <div>
       <a href="/create-item"><button>enter item</button></a>
       <a href="/view-fridge"><button>fridge</button></a>
       <a href="/view-freezer"><button>freezer</button></a>
       <a href="/view-pantry"><button>pantry</button></a>
   </div>
</body>
</html>